html,body{
    margin:0px;
    height: 100%; width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.LCD_background{
    background-color:rgb(40,40,40);
    padding: 8% 4%;
}

.progressBar_background{ background-color:rgb(40,40,40); }
.progressBar_pixel_container{ padding:1%; }
.progressBar_pixel{ width: 100%; height: 100%; }
.progressBar_pixel_lit{ background-color:rgb(240,240,240); }
.progressBar_pixel_dark{ background-color:rgb(80,80,80); }

.LCD_digitContainer{ padding:1%; }

.LCD_digit_off{ background-color:rgb(40,40,40); }
.LCD_digit_lit_0 { background-color:rgb(200,200,200); }
.LCD_digit_dark_0{ background-color:rgb(80,80,80); }
.LCD_digit_lit_1 { background-color:rgb(200,0,0); }
.LCD_digit_dark_1{ background-color:rgb(70,0,0); }
.LCD_digit_lit_2 { background-color:rgb(0,200,0); }
.LCD_digit_dark_2{ background-color:rgb(0,70,0); }
.LCD_digit_lit_3 { background-color:rgb(0,0,200); }
.LCD_digit_dark_3{ background-color:rgb(0,0,70); }
.LCD_digit_lit_4 { background-color:rgb(0,200,200); }
.LCD_digit_dark_4{ background-color:rgb(0,70,70); }
.LCD_digit_lit_5 { background-color:rgb(200,200,0); }
.LCD_digit_dark_5{ background-color:rgb(70,70,0); }
.LCD_digit_lit_6 { background-color:rgb(200,0,200); }
.LCD_digit_dark_6{ background-color:rgb(70,0,70); }
.LCD_digit_lit_7 { background-color:rgb(153,51,255); }
.LCD_digit_dark_7{ background-color:rgb(51,0,102); }
.LCD_digit_lit_8 { background-color:rgb(210,166,121); }
.LCD_digit_dark_8{ background-color:rgb(77,51,25); }
.LCD_digit_lit_9 { background-color:rgb(102,255,204); }
.LCD_digit_dark_9{ background-color:rgb(0,128,85); }
.LCD_digit_lit_10 { background-color:rgb(255, 86, 139); }
.LCD_digit_dark_10{ background-color:rgb(122, 40, 66); }

.button{
    width: 25%; height: 25%;
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 600%;
    background-color:rgb(180,180,180); 
}

.overlay {
    height: 0; width: 100%;
    position: fixed;
    z-index: 1; 
    left: 0; top: 0;
    background-color: rgba(0,0,0, 1); 
    overflow-x: hidden; 
    transition: 0.5s;
}

.overlayContent {
    color: rgb(240,240,240);
    font-family: 'Josefin Sans';
    font-size: 400%;
    top: 25%;
    position: relative;
    width: 80%;
    text-align: center; 
    padding: 10%;
    margin: 0;
}
